@mixin font-face($font-family, $url, $weight, $style: normal) {
  @font-face {
    font-family: "#{$font-family}", sans-serif;
    src: url("../fonts/#{$url}.woff2") format("woff2");
    font-weight: $weight;
    font-style: $style;
  }
}