.banner {
  width: 100%;
  max-width: 100%;
  height: calc(100vh - #{rem(194.9)});
  overflow: hidden;
  @include tablet {
    height: calc(100vh - #{rem(45.09)});
  }
  @include mobile {
    height: calc(#{rem(630)} - #{rem(45.09)});
  }
  &__slider,
  &__slider-wrapper,
  &__slider-slide {
    width: 100%;
    height: 100%;
  }
}