h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  & span {
    color: hsl(var(--primary));
  }
}

h1, .text-2xl {
  font-size: fluid(56, 34);
  font-weight: 600;
}

h2, .text-xl {
  font-size: fluid(42, 28);
  font-weight: 600;
}

h3, .text-lg {
  font-size: fluid(28, 24);
  font-weight: var(--font-weight-bold);
}

h4, .text-md {
  font-size: fluid(22, 18);
  font-weight: 500;
}

h5, .text-sm {
  font-size: fluid(18, 16);
  font-weight: 500;
}

h6, .text-xs {
  font-size: fluid(16, 14);
  font-weight: 500;
}