.logo {
  &__link {
    display: flex;
    align-items: center;
    column-gap: rem(8);
  }
  &__img {
    width: rem(64);
    height: rem(64);
    object-fit: contain;
  }
  &__alt {
    font-size: fluid(16,14);
    span {
      display: block;
    }
  }
}