.navbar {
  width: 100%;
  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(14);
  }
}