.single-education {
  padding-block: fluid(32,18);

  &__banner {
    width: 100%;
    max-width: calc(100% - #{rem(40)});
    padding: fluid(52,22);
    margin-inline: auto;
    color: hsl(var(--primary-foreground));
    background: #0b2539;
    //background: linear-gradient(147deg, rgba(42, 123, 155, 1) 0%, rgba(0, 138, 55, 1) 50%, rgba(158, 240, 5, 1) 100%);
    border-radius: var(--radius);
  }
  &__container {
    width: 100%;
    max-width: rem(1140);
    padding-inline: 0;
    display: grid;
    row-gap: fluid(64,32);
  }
  &__alt {
    display: grid;
    row-gap: rem(14);
    &-code {
      font-size: fluid(22,18);
      opacity: .6;
    }
  }
}